/IC_Scraper_Playground_Table.py
/Airtable_update_impact_score_Playground_Table.py
/Issues - Star Citizen - Projects - Issue Council.html
/local_IC_scraper.py
/PET Issue Council_ Scripting Playground - Airtable.html
/test.csv
/test_scraper_dock.py
